:root {
    --off-black: #151515;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--off-black);
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/posh-isolation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 140px;
    line-height: 0.9;
}

.hero h2 {
    font-size: 26px;
    font-weight: 400;
}

.hero a {
    margin: 50px auto;
    padding: 18px 32px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--off-black);
    border: 1px solid var(--off-black);
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    transition: all 150ms ease-in-out;
}

.hero a:hover {
    background-color: white;
    color: var(--off-black);
    border: 1px solid var(--off-black);
}

footer {
    font-size: 11px;
    color: grey;
    text-align: center;
    margin: 20px;
}
footer a {
     color: grey;
}

@media (max-width: 768px) {
    .hero {
        background-size: cover;
    }

    .hero h1 {
        font-size: 48px;
    }
    .hero h2 {
        font-size: 14px;
    }
}