:root {
  --off-black: #151515;
  --blue: #0000ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--off-black);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/posh-isolation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 140px;
  line-height: 0.9;
}

.hero h2 {
  font-size: 26px;
  font-weight: 400;
}

.hero a {
  margin: 50px auto;
  padding: 18px 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--off-black);
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: all 150ms ease-in-out;
}

.hero a:hover {
  background-color: var(--blue);
  color: white;
}

.grid {
  display: grid;
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.grid-3-cols-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  font-size: 13px;
  grid-gap: 30px;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 1;
}

.about p {
  font-size: 16px;
  opacity: 0.7;
}

.releases {
  background-color: #f8f8f8;
  padding: 50px 20px 20px 20px;
}

.releases h3 {
  text-align: center;
  margin-bottom: 0;
}

.cards {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  background-color: white;
  padding: 30px;
}

.artist {
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 20px;
}

.card p {
  font-size: 14px;
  opacity: 0.7;
}

.card a {
  display: block;
  padding: 18px 32px;
  margin: 30px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--off-black);
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: all 150ms ease-in-out;
  text-align: center;
}

.card a:hover {
  background-color: var(--blue);
  color: white;
}

footer h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

footer a,
footer p {
  font-size: 14px;
  opacity: 0.7;
}

li {
  list-style-type: none;
}

@media (max-width: 992px) {
  .grid-2-cols {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .hero {
    background-size: cover;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
